# Node.js / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/npm-debug.log*

# Python / Backend
backend/__pycache__/
backend/.venv/
backend/*.py[cod]
backend/.env
backend/.pytest_cache/
backend/.mypy_cache/
backend/deploy/

# Terraform / Infraestructura
infrastructure/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
infrastructure/aws/*
*.tfvars

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# VSCode / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules

*.zip

